<html>
<head>
    <meta charset="utf-8">
    <title>BestGym - каталог</title>
    <link rel="stylesheet" href="../../sourse/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css"  charset="utf-8">
</head>
<body>
    <iframe src="../parts/header.html" frameborder="0" style="width: 100%; height: 100px;"></iframe>
  

    <div class="product-details">
        <h2>ТРЕНАЖЕР «ХАММЕР» ДЛЯ ГРУДИ И СПИНЫ</h2>
        
        <h3>Описание</h3>
        <p>Данный тренажер является спортивным станком, который имеет две стороны – для проработки мышц груди и спины. Для тренировки грудных мышц спортсмену необходимо лечь на наклонную скамью, взяться за специальные ручки и выполнять жим от груди в наклоне. Проработка широчайших мышц спины осуществляется сидя, корпус должен быть зафиксирован опорной подушкой и валиками. Дальше атлет должен тянуть платформу вниз, держась при этом за рукоятки. Лопатки должны быть сведены до упора.</p>
        
        <h3>Характеристики товара</h3>
<ul class="characteristics">
    <li>Рама произведена из профильной трубы, изготовленной из стали, с прямоугольным сечением 8 х 4 см.</li>
    <li>Фурнитура из пластика отсутствует.</li>
    <li>Элементы, которые подвергаются трению, обработаны составом из хрома и никеля.</li>
    <li>Хваты и рукоятки хромированные.</li>
    <li>Подвижные элементы оснащены шариковыми подшипниками, которые не требуют обслуживания.</li>
    <li>В качестве покрытия используется порошковое напыление:
        <ul>
            <li>Рама выполнена в цвете «белый глянец»;</li>
            <li>Некоторые элементы окрашены в цвет «серебристо-черный антик».</li>
        </ul>
    </li>
    <li>Отягощение – тренировочные блины, которые имеют диаметр посадочного отверстия 51 мм (не входят в комплект).</li>
    <li>Материалы мягких деталей:
        <ul>
            <li>Винилискожа;</li>
            <li>ПВВ плотностью 140 кг/куб.м;</li>
            <li>Фанера, которая усилена сталью (3 мм).</li>
        </ul>
    </li>
    <li>В качестве опор используются вибропоглощающие подпятники из резины, которые имеют следующие размеры: диаметр 120 мм, толщину 20 мм. Также оборудование ProfiGym можно прикрепить к полу за счет отверстий в ножках.</li>
</ul>

        <h3>Изображение товара</h3>
        <a href="../../img/hammer.png" target="_blank">
            <img src="../../img/hammer.png" alt="Хаммер" width="300" height="200">
        </a>
    </div>
    <iframe src="../parts/footer.html" frameborder="0" style="width: 100%; height: 100px;"></iframe>
    
</body>
</html>