
ul {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display:block;
    margin-right: 10px;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 2px solid #000;
}
header {
    position: relative;
}

footer {
    position: relative;
    clear: both;
}
