<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BestGym - сила рождается здесь  </title>
        <link rel="stylesheet" type="text/css" href="style.css"  charset="utf-8">
        <meta name="description" content="Сайт сети спортивных клубов BestGym">
        <meta name="keywords" content="качалка, спортклуб, тренажеры, сила">
        
    </head>
<body>
    
        <iframe src="parts/header.html" frameborder="0" style="width: 100%; height: 100px;"></iframe>
        приветствуем на сайте BestGym
        <iframe src="parts/footer.html" frameborder="0" style="width: 100%; height: 100px;"></iframe>
    

</body>
</html>