ul {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    margin-right: 10px;
}



ul.characteristics {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.characteristics li {
    display:block;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
   font-style: oblique;
    list-style-image: url('/client-server_v1/img/boytennis.png');
}


hr {
    margin: 20px 0;
    border: none;
    border-top: 2px solid #000;
}
header {
    text-align: center;
    position: relative;
}

footer {
    position: relative;
    clear: both;
}
h2 h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    background-color: #ab2b2b;
}
p {
    font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

  
  .nav-pills .nav-link {
    color: #fff;
    background-color: #ff8800;
    border-color: #ff8800;
  }
  
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background-color: #ff7700;
    border-color: #ff7700;
  }
  body {
    background-color: #c7fcec;
  }
  .short-description{
    
        color: #ff8800;
        font-size: 14px;
        font-style: italic;
        line-height: 16px;
      
      
  }